$bg: #cfdbd5;
// $bg: #fff3b0;
$darkGray: #333533;
$lightGray: #757575;

// next/play button
$nextLight: #00f5d4;
$nextDark: #028090;

// answers
$answerOne: #9b5de5;
$answerTwo: #02c39a;
$answerThree: #f15bb5;
$answerFour: #00bbf9;
